*.pyc
*.pyo
__pycache__
.docker
.git
.env
.env.staging
.env.docker

.idea/

.DS_Store
__pycache__
__debug_bin
.ipynb_checkpoints
.python-version
.idea
.vscode
jsconfig.json
*.code-workspace
*.bkp
.vercel

meilisearch-data

app/dist
agent/models
