services:
  traefik:
    image: traefik:v3.6.1
    command:
      # Enable Docker in Traefik, so that it reads labels from Docker services
      - --providers.docker
      # Add a constraint to only use services with the label for this stack
      - --providers.docker.constraints=Label(`traefik.constraint-label`, `traefik-public`)
      - --api.insecure=true
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false
      - --entrypoints.http.address=:80
      - --entrypoints.https.address=:443
      # - --log.level=DEBUG  # Debug logging
    ports:
      - 7000:80 # HTTP entrypoint
      - 7001:8080 # Traefik dashboard
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - traefik-public
      - default
    labels:
      # Enable Traefik
      - traefik.enable=true
      - traefik.constraint-label=traefik-public
      # Dashboard route setup
      - traefik.http.routers.traefik-dashboard.entrypoints=http
      - traefik.http.routers.traefik-dashboard.rule=Host(`traefik.localhost`)
      - traefik.http.services.traefik-dashboard.loadbalancer.server.port=8080
      - traefik.http.routers.traefik-dashboard.service=api@internal
      - traefik.http.middlewares.https-redirect.contenttype.autodetect=false

  # app:
  #   build:
  #     context: ./app
  #     dockerfile: Dockerfile
  #   container_name: app
  #   ports:
  #     - "7003:5173"
  #   depends_on:
  #     - backend
  #   volumes:
  #     - ./app/src:/app/src
  #     - ./app/public:/app/public
  #     - /app/node_modules
  #   environment:
  #     - NODE_ENV=development
  #     - WATCHPACK_POLLING=true
  #     - CHOKIDAR_USEPOLLING=true
  #   env_file:
  #     - ./app/.env.docker
  #   labels:
  #     - traefik.enable=true
  #     - traefik.docker.network=traefik-public
  #     - traefik.constraint-label=traefik-public

  #     - traefik.http.services.shop-app.loadbalancer.server.port=5173
      
  #     - traefik.http.routers.shop-app-http.rule=Host(`app.localhost`)
  #     - traefik.http.routers.shop-app-http.entrypoints=http
  #     # - traefik.http.routers.shop-app-http.service=shop-app
  #   command: ["pnpm", "dev", "--host", "0.0.0.0"]
  #   networks:
  #     - traefik-public
  #     - default

  backend:
    image: 'shop-backend:${TAG-latest}'
    labels:
      - traefik.enable=true
      - traefik.docker.network=traefik-public
      - traefik.constraint-label=traefik-public

      - traefik.http.services.shop-backend.loadbalancer.server.port=8000

      - traefik.http.routers.shop-backend-http.rule=Host(`api.localhost`)
      - traefik.http.routers.shop-backend-http.entrypoints=http
    ports:
      - "7002:8000"
    networks:
      - traefik-public
      - default
    env_file:
      - ./backend/.env.docker
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
      args:
        INSTALL_DEV: ${INSTALL_DEV-false}
    platform: linux/amd64 # Patch for M1 Mac
    depends_on:
      - db
      - meilisearch
    command:
      - fastapi
      - run
      - --reload
      - "app/main.py"
    develop:
      watch:
        - path: ./backend
          action: sync
          target: /app
          ignore:
            - ./backend/.venv
            - .venv
        - path: ./backend/pyproject.toml
          action: rebuild
    volumes:
      - ./backend/:/app
      - /app/.venv

  db:
    image: postgres:15
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U admin -d shop" ]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s
    ports:
      - "7004:5432"
    networks:
      - traefik-public
      - default
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: shop
    volumes:
      - db-data:/var/lib/postgresql/data

  meilisearch:
    image: getmeili/meilisearch:v1.4
    ports:
      - "7005:7700"
    networks:
      - traefik-public
      - default
    environment:
      MEILI_NO_ANALYTICS: "true"
      MEILI_MASTER_KEY: "secret"
    volumes:
      - meili-data:/meili_data
    labels:
      - traefik.enable=true
      - traefik.docker.network=traefik-public
      - traefik.constraint-label=traefik-public

      - traefik.http.services.meilisearch.loadbalancer.server.port=7700

      - traefik.http.routers.meilisearch-http.rule=Host(`meilisearch.localhost`)
      - traefik.http.routers.meilisearch-http.entrypoints=http

  adminer:
    image: adminer:5.3.0
    ports:
      - "7006:8080"
    networks:
      - traefik-public
      - default
    depends_on:
      - db
    labels:
      - traefik.enable=true
      - traefik.docker.network=traefik-public
      - traefik.constraint-label=traefik-public

      - traefik.http.services.adminer.loadbalancer.server.port=8080

      - traefik.http.routers.adminer-http.rule=Host(`adminer.localhost`)
      - traefik.http.routers.adminer-http.entrypoints=http

  redis:
    image: redis:alpine
    ports:
      - "7007:6379"
    networks:
      - traefik-public
      - default
    volumes:
      - redis-data:/data

  redisinsight:
    image: redis/redisinsight:latest
    ports:
      - "7008:5540"
    networks:
      - traefik-public
      - default
    environment:
      RI_REDIS_HOST: redis
      RI_REDIS_PORT: 6379
      RI_REDIS_ALIAS: local-redis
    depends_on:
      - redis
    labels:
      - traefik.enable=true
      - traefik.docker.network=traefik-public
      - traefik.constraint-label=traefik-public

      - traefik.http.services.redisinsight.loadbalancer.server.port=5540

      - traefik.http.routers.redisinsight-http.rule=Host(`redisinsight.localhost`)
      - traefik.http.routers.redisinsight-http.entrypoints=http

  # celery:
  #   image: 'shop-worker:${TAG-latest}'
  #   build:
  #     context: ./worker
  #     dockerfile: Dockerfile.dev
  #   container_name: celery_worker
  #   command: celery -A celery_app.celery_app worker -Q enrichment -l info
  #   volumes:
  #     - ./worker:/app
  #     - /app/.venv
  #   env_file:
  #     - ./worker/.env
  #   depends_on:
  #     - redis
  #     - postgres
  #   networks:
  #     - traefik-public
  #     - default

  # worker:
  #   image: 'shop-worker:${TAG-latest}'
  #   labels:
  #     - traefik.enable=true
  #     - traefik.docker.network=traefik-public
  #     - traefik.constraint-label=traefik-public

  #     - traefik.http.services.shop-worker.loadbalancer.server.port=8000

  #     - traefik.http.routers.shop-worker-http.rule=Host(`worker.localhost`)
  #     - traefik.http.routers.shop-worker-http.entrypoints=http
  #   ports:
  #     - "7009:8000"
  #   networks:
  #     - traefik-public
  #     - default
  #   env_file:
  #     - ./worker/.env
  #   build:
  #     context: ./worker
  #     dockerfile: Dockerfile.dev
  #     args:
  #       INSTALL_DEV: ${INSTALL_DEV-false}
  #   platform: linux/amd64 # Patch for M1 Mac
  #   depends_on:
  #     - postgres
  #     - meilisearch
  #   command:
  #     - fastapi
  #     - run
  #     - --reload
  #     - "main.py"
  #   volumes:
  #     - ./worker/:/app
  #     - /app/.venv

  # qdrant:
  #   image: qdrant/qdrant
  #   labels:
  #     - traefik.enable=true
  #     - traefik.docker.network=traefik-public
  #     - traefik.constraint-label=traefik-public

  #     - traefik.http.services.qdrant.loadbalancer.server.port=6333

  #     - traefik.http.routers.qdrant-http.rule=Host(`qdrant.localhost`)
  #     - traefik.http.routers.qdrant-http.entrypoints=http
  #   ports:
  #     - "7033:6333"
  #     - "7034:6334"
  #   volumes:
  #     - qdrant-data:/qdrant/storage
  #   networks:
  #     - traefik-public
  #     - default

volumes:
  db-data:
  meili-data:
  redis-data:
  qdrant-data:


networks:
  traefik-public:
    external: false
