DOMAIN=http://localhost:4030

# Used by the backend to generate links in emails to the frontend
FRONTEND_HOST=https://localhost:3000

ADMIN_EMAIL="owner@email.com"
ACCESS_TOKEN_EXPIRE_MINUTES=3000
EMAIL_RESET_TOKEN_EXPIRE_HOURS=48

# Project
PROJECT_NAME='Project Name'

# Postgres
POSTGRES_SERVER=db
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=db

# Superuser
FIRST_SUPERUSER=admin@email.com
FIRST_SUPERUSER_PASSWORD=password
FIRST_SUPERUSER_FIRSTNAME=admin
FIRST_SUPERUSER_LASTNAME=admin

# Emails
EMAILS_ENABLED=False
SMTP_HOST=smtp.gmail.com
SMTP_USER=info@gmail.com
SMTP_PASSWORD=password
EMAILS_FROM_EMAIL=info@gmail.com
EMAILS_FROM_NAME="Test User"
SMTP_TLS=True
SMTP_SSL=False
SMTP_PORT=587

BACKEND_CORS_ORIGINS=["http://store.localhost:4000"]
SECRET_KEY="specialsecret"

RABBITMQ_HOST="rabbitmq"

MEILI_HOST=http://meilisearch:7700
MEILI_MASTER_KEY=masterKey

REDIS_HOST="localhost"
REDIS_PORT=6379
REDIS_PASSWORD="password"

SUPABASE_URL="https://url.supabase.co"
SUPABASE_KEY="api"

SLACK_WEBHOOK_URL=https://hooks.slack.com/services/your-id

PAYSTACK_SECRET_KEY="Pk_test_5029925955255255"

GOOGLE_CLIENT_ID="google-id"
GOOGLE_CLIENT_SECRET="google-secret"
