@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar::-webkit-scrollbar-track {
        background-color: transparent;
    }

    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    /* input:focus ~ label,
    input:not(:placeholder-shown) ~ label {
        @apply -translate-y-2 text-xsmall-regular;
    }

    input:focus ~ label {
        @apply left-0;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        border: 1px solid #212121;
        -webkit-text-fill-color: #212121;
        -webkit-box-shadow: 0 0 0px 1000px #fff inset;
        transition: background-color 5000s ease-in-out 0s;
    }

    input[type="search"]::-webkit-search-decoration,
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-results-button,
    input[type="search"]::-webkit-search-results-decoration {
        -webkit-appearance: none;
    } */
}

@layer components {
    .contrast-btn {
        @apply px-4 py-2 border border-black rounded-full hover:bg-black hover:text-white transition-colors duration-200 ease-in;
    }

    .tb-divider {
        @apply shrink-0 bg-divider border-none w-full h-divider;
    }
    .btn-custom {
        @apply relative inline-flex items-center justify-center box-border appearance-none select-none whitespace-nowrap font-normal overflow-hidden outline-none px-4 h-10 text-small gap-2 rounded-medium;
    }

    .combobox {
        @apply w-full relative min-h-10 inline-flex flex-col;
    }

    .combobox-input {
        @apply bg-transparent border-none outline-none flex-grow text-foreground-500 font-normal text-small w-full cursor-pointer;
    }

    .combobox-label {
        @apply block z-10 text-foreground-500 pointer-events-none cursor-pointer will-change-auto !duration-200 !ease-out text-small pe-2 max-w-full text-ellipsis overflow-hidden;
    }

    .combobox-popover {
        @apply absolute w-full rounded-xl bg-content1 shadow-md mt-1 left-0 top-full;
    }

    .combobox-button {
        @apply bg-transparent border-none cursor-pointer flex items-center justify-center;
    }

    .combobox-listbox {
        @apply absolute z-10 w-full border border-divider bg-content1 shadow-md rounded-md max-h-40 overflow-y-auto px-1 py-2 list-none m-0;
    }

    .combobox-option {
        @apply px-2 py-2 cursor-pointer rounded-lg text-small font-semibold hover:bg-content2;
    }

    .v-input {
        max-height: 2.25rem;
        transition-timing-function: ease;
        transition-duration: 200ms;
        text-align: center;
        font-family: inherit;
        letter-spacing: normal;
        font-weight: 700;
        font-size: 1.0625rem;
        line-height: 1.41176;
        padding: 0.125rem 0px;
        box-sizing: border-box;
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 0.375rem;
        border-color: rgba(0, 0, 0, 0.11);
        border-width: 0px;
        box-shadow:
            rgba(0, 0, 0, 0.11) 0px 0px 0px 1px,
            rgba(0, 0, 0, 0.07) 0px 0px 1px 0px;
    }

    .cl-internal-ttumny {
        padding: 0.375rem 0.75rem;
        background-color: var(--accent);
        color: var(--accentContrast);
        border-radius: 0.375rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        transition-property: background-color, background, border-color, color, fill, stroke, opacity, box-shadow, transform;
        transition-duration: 100ms;
        font-family: inherit;
        letter-spacing: normal;
        font-weight: 500;
        font-size: 0.8125rem;
        line-height: 1.38462;
        box-shadow:
            rgba(255, 255, 255, 0.07) 0px 1px 1px 0px inset,
            rgba(34, 42, 53, 0.2) 0px 2px 3px 0px,
            rgba(0, 0, 0, 0.24) 0px 1px 1px 0px;
        border-style: solid;
        border-color: var(--accent);
        width: 100%;
        --accent: #2f3037;
        --accentHover: #3b3c45;
        --border: #2f3037;
        --accentContrast: white;
        --alpha: hsla(0, 0%, 0%, 0.03);
    }
}
