@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar::-webkit-scrollbar-track {
        background-color: transparent;
    }

    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    /* input:focus ~ label,
    input:not(:placeholder-shown) ~ label {
        @apply -translate-y-2 text-xsmall-regular;
    }

    input:focus ~ label {
        @apply left-0;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        border: 1px solid #212121;
        -webkit-text-fill-color: #212121;
        -webkit-box-shadow: 0 0 0px 1000px #fff inset;
        transition: background-color 5000s ease-in-out 0s;
    }

    input[type="search"]::-webkit-search-decoration,
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-results-button,
    input[type="search"]::-webkit-search-results-decoration {
        -webkit-appearance: none;
    } */
}

@layer components {
    .contrast-btn {
        @apply px-4 py-2 border border-black rounded-full hover:bg-black hover:text-white transition-colors duration-200 ease-in;
    }

    .tb-divider {
        @apply shrink-0 bg-divider border-none w-full h-divider;
    }
    .btn-custom {
        @apply relative inline-flex items-center justify-center box-border appearance-none select-none whitespace-nowrap font-normal overflow-hidden outline-none px-4 h-10 text-small gap-2 rounded-medium;
    }

    .combobox {
        @apply w-full relative min-h-10 inline-flex flex-col;
    }

    .combobox-input {
        @apply bg-transparent border-none outline-none flex-grow text-foreground-500 font-normal text-small w-full cursor-pointer;
    }

    .combobox-label {
        @apply block z-10 text-foreground-500 pointer-events-none cursor-pointer will-change-auto !duration-200 !ease-out text-small pe-2 max-w-full text-ellipsis overflow-hidden;
    }

    .combobox-popover {
        @apply absolute w-full rounded-xl bg-content1 shadow-md mt-1 left-0 top-full;
    }

    .combobox-button {
        @apply bg-transparent border-none cursor-pointer flex items-center justify-center;
    }

    .combobox-listbox {
        @apply absolute z-10 w-full border border-divider bg-content1 shadow-md rounded-md max-h-40 overflow-y-auto px-1 py-2 list-none m-0;
    }

    .combobox-option {
        @apply px-2 py-2 cursor-pointer rounded-lg text-small font-semibold hover:bg-content2;
    }
}
