DATABASE_URL="postgres://admin:password@postgres:5432/shop"

BROKER_URL="redis://redis:6379/0"

GEMINI_API_KEY=""
GEMINI_MODEL="gemini-2.5-flash"

SLACK_WEBHOOK_URL="https://hooks.slack.com/services/YOUR/WEBHOOK/URL"

WORKER_ENABLED=True
CRON_JOBS_ENABLED=True
EMBEDDINGS_ENABLED=True

CLOUDINARY_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""