DATABASE_URL="postgres://admin:password@postgres:5432/shop"

API_BASE_URL="http://backend:8000"

BROKER_URL="redis://redis:6379/0"

GEMINI_API_KEY=""
GEMINI_MODEL="gemini-2.5-flash"

SLACK_WEBHOOK_URL="https://hooks.slack.com/services/YOUR/WEBHOOK/URL"

WORKER_ENABLED=True
CRON_JOBS_ENABLED=True
EMBEDDINGS_ENABLED=True

INTERNAL_WORKER_SECRET="secret"

# storage dev
DEFAULT_STORAGE_PROVIDER=supabase
STORAGE_BUCKET=images-dev

SUPABASE_URL=https://id.supabase.co
SUPABASE_KEY=secret_key

CLOUDINARY_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

CLOUDFLARE_ACCOUNT_ID=""
CLOUDFLARE_R2_ACCESS_KEY_ID=""
CLOUDFLARE_R2_SECRET_ACCESS_KEY=""
CLOUDFLARE_R2_PUBLIC_URL=https://pub-id.r2.dev